* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}
.sequencer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* margin: 5vw; */
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background-color: rgb(167, 66, 57);
}
.snare-pad {
  background-color: rgb(246, 160, 110);
}
.hihat-pad {
  background-color: rgb(243, 205, 124);
}
.pad {
  transition: all 0.5s ease;
}
.kick-pad.active {
  background-color: rgb(93, 2, 2);
}
.snare-pad.active {
  background-color: rgb(255, 60, 0);
}
.hihat-pad.active {
  background-color: rgb(255, 145, 0);
}
.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  flex: 1;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(153, 136, 136);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-left: 2rem;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(153, 136, 136);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 3rem;

  cursor: pointer;
}
select {
  padding: 1rem;
  margin-left: 1rem;
}
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
