* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*******
TODO
ADD VARIABLES:
 --border-radius:5px;
 --dark-grey:rgb(153, 136, 136);
 ADD SCSS:
 @mixin display-center{
   display:flex;
   align-items:center;
   justify-content:center;}
 ******/
body {
  font-family: sans-serif;
  background-color: rgba(11, 11, 14, 0.76);
  color: white;
}

i,
svg {
  pointer-events: none;
}
.mode {
  border: none;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem 2rem 0 0;
  background: black;
  color: white;
}
.mode.active {
  background: white;
  color: black;
}
h1 {
  margin-top: 5vh;
  text-align: center;
  font-size: 2rem;
}
.sequencer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
}
.kick-pad,
.snare-pad,
.hihat-pad,
.perc-pad,
.tom-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}
.kick-pad {
  background-color: rgb(167, 66, 57);
}
.snare-pad {
  background-color: rgb(246, 160, 110);
}
.hihat-pad {
  background-color: rgb(243, 205, 124);
}
.perc-pad {
  background-color: rgb(248, 248, 127);
}
.tom-pad {
  background-color: rgb(205, 250, 116);
}
.pad {
  transition: all 0.5s ease;
}
.kick-pad.active {
  background-color: rgb(93, 2, 2);
}
.snare-pad.active {
  background-color: rgb(255, 60, 0);
}
.hihat-pad.active {
  background-color: rgb(255, 145, 0);
}
.perc-pad.active {
  background-color: rgb(248, 248, 3);
}
.tom-pad.active {
  background-color: rgb(172, 251, 14);
}
.kick-track,
.snare-track,
.hihat-track,
.perc-track,
.tom-track {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat,
.perc,
.tom {
  display: flex;
}
.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 2rem;
  flex: 1;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(153, 136, 136);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-left: 2rem;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(153, 136, 136);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 3rem;
  cursor: pointer;
}
select {
  padding: 1rem;
  margin-left: 1rem;
}
.mute.active {
  background-color: rgb(226, 223, 223);
}
.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background-color: rgb(153, 136, 136);
  border-radius: 5px;
  cursor: pointer;
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
